@{
    ViewData["Title"] = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pattern-background d-flex">
    <div class="jumbotron jumbotron-fluid bg-transparent my-auto mx-auto">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="row m-b-30">
            <div class="col-sm-12 col-md-8 offset-md-2">

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>

                <button class="accordion-panel">DEBUG HEADING</button>
                <div class="accordion-panel-content">
                    <p>DEABUG SUB HEADING TEXT</p>
                </div>
            </div>
        </div>
        <div class="row m-b-50">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-title text-center">
                        <h1>Contact Us</h1>
                        <p class="lead">
                            Can't find the answers you're looking for? Send us a <a> message </a> and we'll do our best to help you out!
                        </p>
                    </div>
                    <div class="card-body text-center">
                        <a class="btn btn-primary">Contact Us </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<partial name="Home/_LayoutFooter" />


<!--    FAQ Page Javascript
=============================================== -->
<script src="~/js/Home/Faq.js"></script>