@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="pattern-background d-flex">
        <div class="jumbotron jumbotron-fluid bg-transparent my-auto mx-auto">
            <h1 class="display-4 text-center">@ViewData["Title"]</h1>
        </div>
    </section>


<partial name="Home/_LayoutFooter" />