@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/Dashboard/_LayoutDashboard.cshtml";
}


<!-- Print any errors or success to the view -->
<partial name="_ControllerAlert" />

<div class="container-fluid">
    <div class="row">

    </div>
</div>


<label class="form-switch">
    <input type="checkbox">
    <i></i>

</label>