<footer id="footer" class="footer bg-dark">
    <div class="container">
        <div class="footer-flex ">
            <div class="footer-list-item">
                <a href="https://github.com/DigitalCitizen110625/SafariBugTracker">Source Code</a>
            </div>
            <div class="footer-list-item">
                <a href="https://github.com/DigitalCitizen110625/">Portfolio</a>
            </div>
            <div class="footer-list-item">
                <a href="https://ca.linkedin.com/in/bence-karner-883862179">LinkedIn</a>
            </div>
            <div class="footer-list-item">
                <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        &copy; 2020 - Safari Bug Tracker
    </div>
</footer>